@font-face {
    font-family: 'Cafe24Oneprettynight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Oneprettynight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



body{
    font-family: 'Cafe24Oneprettynight';
    margin:0;
    background-image: url("images/back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    font-family: 'Cafe24Oneprettynight';
    background-color: rgba(243, 218, 225, 0.668); /* 투명도를 설정할 수 있는 RGBA 값 사용 */
    padding: 20px; /* 내용과의 간격을 조절할 수 있습니다. */
    min-height: 100vh; /*보는 화면의 길이*/
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.task-area{
    border:1px solid rgb(189, 159, 189);
    border-radius: 5px;
}

.task-tabs{
    display: flex;
    border-bottom:1px solid  rgb(189, 159, 189);
    position: relative;
}

.task-tabs div{
    padding: 1em;
}

#under-line{
    height: 3px;
    background-color:  rgb(189, 159, 189);
    position: absolute; /*코딩누나 유튜브 참고*/
    width:65px;
    left:0px;
    top:50px;
    padding:0px;
    transition: 0.5s;
}

.task{
    display: flex;
    justify-content: space-between;
    padding: 1em;
    margin : 3px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.task:hover {
    background-color: rgb(152, 101, 152); /* 호버 시 배경색 변경 */
}

.task-done{
    text-decoration: line-through; 
    /*line-through는 텍스트에 밑줄을 그어줌*/
}

.task-tabs div{
    cursor:pointer;
}

.btn{
    background-color: pink;
    text-decoration-color : white;
}

.input-area input[type="text"] {
    width: 300px; 
}

.task {
    opacity: 0; /* 초기에는 투명도를 0으로 설정하여 숨깁니다. */
    transition: opacity 0.3s ease; /* opacity 속성에 트랜지션 효과를 부여합니다. */
}

.task.active {
    opacity: 1; /* 활성화되면 투명도를 1로 설정하여 나타나게 합니다. */
}

.task.completed {
    background-color: rgb(74, 39, 74, 0.8);
    color: white;
}

#cherryBlossoms {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none; /* 이 요소를 마우스 이벤트의 대상에서 제외합니다. */
}

.completed-button {
    background-color: #e67eb2; /* 연분홍색 */
    color: white; /* 흰색 */
    border: none; /* 테두리 없음 */
    padding: 8px 16px; /* 패딩 설정 */
    border-radius: 5px; /* 둥근 테두리 */
    cursor: pointer; /* 커서를 손가락 모양으로 변경 */
    transition: background-color 0.3s ease;
}

.regular-button {
    background-color: #602622; /* 빨간색 */
    color: white; /* 흰색 */
    border: none; /* 테두리 없음 */
    padding: 8px 16px; /* 패딩 설정 */
    border-radius: 5px; /* 둥근 테두리 */
    cursor: pointer; /* 커서를 손가락 모양으로 변경 */
    transition: background-color 0.3s ease;
}
